@import "tailwindcss";

.buttons {
  text-align: center;
  height: 5vh;
  margin-top: 0;
  margin-bottom: 0;
}

.buttons > li {
  display: inline-block;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}
